

@font-face {
    font-family: "Belleview";
    src: url("/src/font/Belleview.woff") format("woff");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "Dayrom";
    src: url("/src/font//DAYROM__.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "OldType";
    src: url("/src/font/OldTypefaces.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "registra";
    src: url("/src/font/RegistaGrande.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}

h1{
    font-family: "registra";
    font-size: 32px;
    
  }
  
  h4{
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  }

  